.thread {
  text-decoration: none;
  color: black;
  flex-direction: column;
}

.thread .container .vertical-centering {
  justify-content: center;
  align-items: center;
  display: flex;
}

.thread .container .content {
  width: 80%;
  margin-left: 25px;
}

.thread .container {
  width: calc(100% - 66px);
  position: relative;
  background-color: white;
  padding: 25px;
  margin: 13px;
  display: flex;
  justify-content: space-between;
}

.thread .container .content .subject {
  font-size: 20px;
  font-weight: 300;
}

.thread .container .content .subject h1 {
  font-size: 23px;
}

a.thread .container .content .subject h2 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  font-size: 23px;
}

.thread .container .content .date {
  font-size: 14px;
  margin-top: -15px;
}

.thread .container .content .tags {
  font-size: 14px;
  margin-top: 5px;
}
.thread .container .content .tags span {
  margin-right: 5px;
  color: white;
  background-color: gray;
  padding: 2px 5px;
  border-radius: 5px;
}
.thread .container .comments > p {
  text-align: center;
}
a.thread .container .content .message p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}
